@tailwind base;
@tailwind components;
@tailwind utilities;

.header .name{
    font-family: "Kanit";
}

.blueShadow:hover {
    transform: translate(-3px, -3px);
    box-shadow: 6px 6px 0 0 #60a6fa
  }

.blueShadow {
    box-shadow: 3px 3px 0 0 #60a5fa
  }